sudo: false
language: node_js

node_js:
  - '9'

env:
  - SECRET=9AKLJS0AVUAJV0AJV0JAVJ0AJVA0VJ
  - TEST_DATABASE_URL=postgres://localhost:5432/database_test

services:
  - postgresql

notifications:
  email: false

before_script:
  - psql -c 'create database database_test;' -U postgres

script:
  - npm run pre-test
  - npm run test:server
