.header {
  background: #fff;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.layout {
  height: 100vh;
}

.content {
  margin: 24px 16px;
  padding: 24px;
  background: #fff;
  height: 100%;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logout-button {
  margin-right: 24px;
}
